@font-face {
    font-family: "Roboto Regular";
    src: url('../assets/fonts/roboto-regular.woff2') format('woff2'),
    url('../assets/fonts/roboto-regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "Roboto Condensed";
    src: url('../assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../assets/fonts/RobotoCondensed-Bold.ttf') format("ttf");
    font-weight: 700;
    font-style: normal;
}
  